<div class='main'>
  <h1>Welcome!</h1>
  {{#each p}}
    <div class='containers'>
      <p>{{this.name}}</p>

      <p>{{this.description}}</p>

      <p>{{this.price}}</p>

    </div>
  {{/each}}
</div>